//Color
$color-white: #fff;
$color-black: #000;
$color-gray: #666;
$color-gray70: #b3b3b3;
$color-light-gray:#f2f2f2;
$color-yellow: #ffff66;
$color-blue: #1698d9;
$color-light-blue: #2ea8e6;
$color-dark-pink:#d91667;
$color-light-pink:#e62e7a;

//Fonts
$font-exo: 'Exo 2.0';
$font-trebuchet: 'Trebuchet MS';